.read {
    width: 100%;
}

.text {
    padding-top: 20px;
}

.page {
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    align-content: center;
    background-color: white;
}

.pagination {
    margin-top: 20px;
}

.error{
    color: #8d8d8d75;
    margin-top: 10px;
}

.button{
    background-color: #ef5350;
    color: #ffffff;
    font-size: 34px;
    border-radius: 5;
    margin-top: 10px;
}