@import "~taro-ui/dist/style/components/article.scss";

.at-article,
.at-article__h1,
.at-article__h2,
.at-article__h3,
.at-article__info,
.at-article__p{
    margin: 0 0 0 0;
    margin-bottom: 10px;
}

.at-article__img{
    width: 600px;
}

.at-article__p{
    font-size: 32px;
}

.button{
    background-color: #ef5350;
    color: #ffffff;
    font-size: 34px;
    border-radius: 5;
}