/* Custom Theme */
$color-brand: #ef5350;
$color-brand-light: #f37e7c;
$color-brand-dark: #bf4240;

$color-border-base: #fd918fb2;
$color-text-title: #ef5350;

@import "~taro-ui/dist/style/index.scss";